<div class="version-drak">
  <!--Start Preloader-->
  <div class="preloader" style="display: none;">
    <div class="d-table">
      <div class="d-table-cell align-middle">
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </div>
    </div>
  </div>
  <!--End Preloader-->
  <!--start header-->
  <header id="header">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <!-- Logo -->
          <!-- <a class="logo" href="#"><img src="/assets/new-assets/images/logo.png" alt="logo"></a> -->


          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"><i class="icofont-navigation-menu"></i></span>
          </button>
          <!-- navbar links -->
          <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
              <!-- <li class="nav-item">
                <a class="nav-link"  data-scroll-nav="9" style="color: white">Promot Bot</a>
              </li> -->
              <li class="nav-item">
                  <a class="nav-link active" href="#" data-scroll-nav="0">Home</a>
              </li>
              <li class="nav-item">
                <!-- <a class="nav-link" href="#" data-scroll-nav="1">Features</a> -->
                <a class="nav-link" href="#" data-scroll-nav="1">About</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#" data-scroll-nav="3">Terms and Condition</a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link" href="#" data-scroll-nav="4">FUNAAB Homepage</a>
              </li> -->
              <li class="nav-item">
                <!-- <a class="nav-link" href="#">Blog</a> -->
              </li>
              <li class="nav-item download-btn">
                <a class="nav-link" data-scroll-nav="5" [routerLink]="[ '/cv-documentation' ]">Assesment </a>
              </li>



              <li class="nav-item download-btn">
                <a class="nav-link" data-scroll-nav="5" [routerLink]="[ '/cv-documentation-stage' ]"> Submit CV </a>
              </li>



              <li class="nav-item download-btn">
                  <a class="nav-link" data-scroll-nav="5" [routerLink]="[ '/admin-contact' ]"> Contact Administrator </a>
              </li>
<!-- 
              <li class="nav-item">
                <a class="nav-link" href="#" data-scroll-nav="2">Contact Administrator</a>
              </li> -->

            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>


  <section class="bg bg-2" id="faq-area">
  <div class="faq-area-img"><img alt="" class="img-fluid" src="/assets/new-assets/images/faq-bg-1.png"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="section-heading text-center">
          <!-- <h5>Contac Administrator</h5> -->
          <h2 class="text-white">Get in touch with : </h2>
          <p class="text-light">Dr Adebukola Onoshoga , Room 102 , Unity Building , FUNAAB . Email Administrator : csc@funaab.edu.ng</p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
