.matcard{
    margin-right: 3%;
}

@media screen and (max-width: 640px) and (min-width: 200px) {
    #mediah1 {
        font-size: 40px ;
        padding-top: 1px;
        font-weight: bolder ;
        margin-left: 0 ;
        padding-left: 0 ;
        text-align: left;
    }
}