<div class="version-drak" style="width: 100% ; width: 100% ; overflow: hidden;">
  <!--Start Preloader-->
  <div class="preloader" style="display: none;">
    <div class="d-table">
      <div class="d-table-cell align-middle">
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </div>
    </div>
  </div>
  <!--End Preloader-->
  <!--start header-->
  <header id="header">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <!-- Logo -->
          <!-- <a class="logo" href="#"><img src="/assets/new-assets/images/logo.png" alt="logo"></a> -->


          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"><i class="icofont-navigation-menu"></i></span>
          </button>
          <!-- navbar links -->
          <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
              <!-- <li class="nav-item">
                <a class="nav-link"  data-scroll-nav="9" style="color: white">Promot Bot</a>
              </li> -->
              <li class="nav-item ">
                <a class="nav-link active" [routerLink]="['']" data-scroll-nav="0">Home</a>
              </li>
              <li class="nav-item ">
                <!-- <a class="nav-link" href="#" data-scroll-nav="1">Features</a> -->
                <a class="nav-link" href="" (click)="scrollToAbout($event)" data-scroll-nav="1">About</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#" data-scroll-nav="3">Terms and Condition</a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link" href="#" data-scroll-nav="4">FUNAAB Homepage</a>
              </li> -->
              <li class="nav-item">
                <!-- <a class="nav-link" href="#">Blog</a> -->
              </li>

              <!-- <li class="nav-item ">
                <a class="nav-link" data-scroll-nav="5" [routerLink]="[ '/cv-documentation-stage' ]">Submit CV</a>
              </li>


              <li class="nav-item ">
                <a class="nav-link" data-scroll-nav="5" [routerLink]="[ '/cv-assessment' ]">Assesment</a>
              </li> -->




              <li class="nav-item ">
                <a class="nav-link" data-scroll-nav="5" [routerLink]="[ '/predatory-journals' ]"> Predatory Journals
                </a>
              </li>


              <li class="nav-item ">
                <a class="nav-link" data-scroll-nav="5" [routerLink]="[ '/admin-contact' ]"> Contact Admin </a>
              </li>




              <li class="nav-item download-btn">
                <a class="nav-link" data-scroll-nav="5" [routerLink]="[ '/register' ]">Register Account</a>
              </li>

              <li class="nav-item download-btn">
                <a class="nav-link" data-scroll-nav="5" [routerLink]="[ '/login' ]">Login</a>
              </li>

              <!-- 
              <li class="nav-item">
                <a class="nav-link" href="#" data-scroll-nav="2">Contact Administrator</a>
              </li> -->

            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!--end header-->
  <!--start home area-->
  <section id="home-area" class="bg-1" data-scroll-index="0">
    <div class="home-bg-circle">
      <img class="circle1" src="/assets/new-assets/images/asset-4.png" alt="">
      <img class="circle2" src="/assets/new-assets/images/asset-5.png" alt="">
    </div>
    <div class="container">
      <div class="row">
        <!--start caption-->
        <div class="col-lg-8">
          <div class="caption d-table">
            <div class="d-table-cell align-middle">
              <h1 class="text-white mediah1" id="mediah1">PromotBot : A Revolusionalised System For Promotion Accessments
              </h1>
              <h4 class="text-light font-open-sans">This is an innovative development by the Department of Computer
                Science
                and strictly for the use of FUNAAB Members of staff
              </h4>
              <div class="caption-btns">
                <a class="bg" [routerLink]="[ '/register' ]">Register Account</a>
                <!-- <a class="popup-video" href="../../../www.youtube.com/watch1d68.html?v=iaj8ktgL3BY&amp;t=5s">
                  <i class="icofont-ui-play"></i>
                  Play video
                </a> -->
              </div>
              <!-- <div class="caption-download-btns">
                <ul>
                  <li><a href="#"><i class="icofont-brand-android-robot"></i></a></li>
                  <li><a href="#"><i class="icofont-brand-apple"></i></a></li>
                  <li><a href="#"><i class="icofont-brand-windows"></i></a></li>
                </ul>
              </div> -->
            </div>
          </div>
        </div>
        <!--end caption-->
      </div>
    </div>
  </section>
  <!--start home area-->
  <!--start core feature area-->
  <section id="core-feature-area" class="bg-2">
    <div class="core-feature-circle">
      <img class="circle1" src="/assets/new-assets/images/asset-2.png" alt="">
      <img class="circle2" src="/assets/new-assets/images/asset-2.png" alt="">
      <img class="circle3" src="/assets/new-assets/images/asset-2.png" alt="">
    </div>
    <div class="container" id="about">
      <div class="row">
        <!--start section heading-->
        <div class="col-md-10 offset-md-1">
          <div class="section-heading text-center">
            <h5>About FUNAAB PromotBot</h5>
            <h2 class="text-white">A Secured , Fast and Accurate System to Promote Academic / Non - Teaching
              staff in FUNAAB</h2>
            <p class="text-light">
              PromotBot is an Automated System to Grade and Promot Staff in Federal University of Agriculture ,
              Abeokuta ( FUNAAB ).
            </p>
          </div>
        </div>
        <!--end section heading-->
      </div>
      <div class="row">
        <!--start core feature single-->
        <div class="col-lg-3 col-md-6">
          <div class="core-feature-single">
            <div class="core-feature-single-item text-center">
              <div class="icon">
                <i class="icon-gear"></i>
              </div>
              <h3>Formatted CV</h3>
              <p>Helps prepare your CV to formatted Guidelines</p>
            </div>
            <img class="hover-shape-1 hover-shape" src="/assets/new-assets/images/shape-one.svg" alt="Shape One">
            <img class="hover-shape-2 hover-shape" src="/assets/new-assets/images/shape-two.svg" alt="Shape Two">
            <img class="hover-shape-3 hover-shape" src="/assets/new-assets/images/shape-three.svg" alt="Shape Three">
            <img class="hover-shape-4 hover-shape" src="/assets/new-assets/images/shape-four.svg" alt="Shape Four">
            <img class="hover-shape-5 hover-shape" src="/assets/new-assets/images/shape-five.svg" alt="Shape Five">
          </div>
        </div>
        <!--end core feature single-->
        <!--start core feature single-->
        <div class="col-lg-3 col-md-6">
          <div class="core-feature-single">
            <div class="core-feature-single-item two text-center">
              <div class="icon">
                <i class="icon-web-design"></i>
              </div>
              <h3> Intelligent System </h3>
              <p>The System Grades and Promotes Staff with intelligence.
              </p>
            </div>
            <img class="hover-shape-1 hover-shape" src="/assets/new-assets/images/shape-one.svg" alt="Shape One">
            <img class="hover-shape-2 hover-shape" src="/assets/new-assets/images/shape-two.svg" alt="Shape Two">
            <img class="hover-shape-3 hover-shape" src="/assets/new-assets/images/shape-three.svg" alt="Shape Three">
            <img class="hover-shape-4 hover-shape" src="/assets/new-assets/images/shape-four.svg" alt="Shape Four">
            <img class="hover-shape-5 hover-shape" src="/assets/new-assets/images/shape-five.svg" alt="Shape Five">
          </div>
        </div>
        <!--end core feature single-->
        <!--start core feature single-->
        <div class="col-lg-3 col-md-6">
          <div class="core-feature-single">
            <div class="core-feature-single-item three text-center">
              <div class="icon three">
                <i class="icon-report"></i>
              </div>
              <h3>Instant Assessment</h3>
              <p>You can Assess your Curriculum Vitae after submission.</p>
            </div>
            <img class="hover-shape-1 hover-shape" src="/assets/new-assets/images/shape-one.svg" alt="Shape One">
            <img class="hover-shape-2 hover-shape" src="/assets/new-assets/images/shape-two.svg" alt="Shape Two">
            <img class="hover-shape-3 hover-shape" src="/assets/new-assets/images/shape-three.svg" alt="Shape Three">
            <img class="hover-shape-4 hover-shape" src="/assets/new-assets/images/shape-four.svg" alt="Shape Four">
            <img class="hover-shape-5 hover-shape" src="/assets/new-assets/images/shape-five.svg" alt="Shape Five">
          </div>
        </div>
        <!--end core feature single-->
        <!--start core feature single-->
        <div class="col-lg-3 col-md-6">
          <div class="core-feature-single">
            <div class="core-feature-single-item four text-center">
              <div class="icon four">
                <i class="icon-list"></i>
              </div>
              <h3>Secure Data</h3>
              <p>Promot Bot transfers your confidential CV over a Secured Network.
              </p>
            </div>
            <img class="hover-shape-1 hover-shape" src="/assets/new-assets/images/shape-one.svg" alt="Shape One">
            <img class="hover-shape-2 hover-shape" src="/assets/new-assets/images/shape-two.svg" alt="Shape Two">
            <img class="hover-shape-3 hover-shape" src="/assets/new-assets/images/shape-three.svg" alt="Shape Three">
            <img class="hover-shape-4 hover-shape" src="/assets/new-assets/images/shape-four.svg" alt="Shape Four">
            <img class="hover-shape-5 hover-shape" src="/assets/new-assets/images/shape-five.svg" alt="Shape Five">
          </div>
        </div>
        <!--end core feature single-->
      </div>
      <div class="row">
        <!--start read more button-->
        <div class="col-lg-6">
          <div class="load-more-btn text-center">
            <a [routerLink]="[ '/register' ]">Create and Submit CV</a>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="load-more-btn text-center">
            <a [routerLink]="[ '/quick-survey' ]">Take a Quick Survey</a>
          </div>
        </div>
        <!--end read more button-->
      </div>
    </div>
  </section>
  <!--end core feature area-->
  <!--start about area-->
  <app-footer></app-footer>
</div>