<!-- <app-pgs-header></app-pgs-header>
 -->
<div class="version-drak" style="width: 100% ; width: 100% ; overflow: hidden;">

  <div>
    <!--Start Preloader-->
    <div class="preloader" style="display: none;">
      <div class="d-table">
        <div class="d-table-cell align-middle">
          <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
          </div>
        </div>
      </div>
    </div>
    <!--End Preloader-->
    <!--start header-->
    <header id="header">
      <div class="container">
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <!-- Logo -->
            <!-- <a class="logo" href="#"><img src="/assets/new-assets/images/logo.png" alt="logo"></a> -->


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
              aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icon-bar"><i class="icofont-navigation-menu"></i></span>
            </button>
            <!-- navbar links -->
            <div class="collapse navbar-collapse" id="navbarContent">
              <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item">
                    <a class="nav-link"  data-scroll-nav="9" style="color: white">Promot Bot</a>
                  </li> -->
                <li class="nav-item download-btn">
                  <a class="nav-link active" [routerLink]="['']" data-scroll-nav="0">Home</a>
                </li>
                <li class="nav-item download-btn">
                  <!-- <a class="nav-link" href="#" data-scroll-nav="1">Features</a> -->
                  <a class="nav-link" href="#" data-scroll-nav="1">About</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#" data-scroll-nav="3">Terms and Condition</a>
                  </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#" data-scroll-nav="4">FUNAAB Homepage</a>
                  </li> -->
                <li class="nav-item">
                  <!-- <a class="nav-link" href="#">Blog</a> -->
                </li>
                <li class="nav-item download-btn">
                  <a class="nav-link" data-scroll-nav="5" [routerLink]="[ '/cv-assessment' ]">Assesment </a>
                </li>
                <!--   
    
    
                  <li class="nav-item download-btn">
                    <a class="nav-link" data-scroll-nav="5" [routerLink]="[ '/cv-documentation-stage' ]"> Submit CV </a>
                  </li>
    
                    -->


                <li class="nav-item download-btn">
                  <a class="nav-link" data-scroll-nav="5" [routerLink]="[ '/predatory-journals' ]"> Predatory Journals
                  </a>
                </li>


                <li class="nav-item download-btn">
                  <a class="nav-link" data-scroll-nav="5" [routerLink]="[ '/admin-contact' ]"> Contact Administrator
                  </a>
                </li>


                <!-- 
                  <li class="nav-item">
                    <a class="nav-link" href="#" data-scroll-nav="2">Contact Administrator</a>
                  </li> -->

              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>

    
    <section class="bg bg-2" id="faq-area">
      <div class="faq-area-img"><img alt="" class="img-fluid" src="/assets/new-assets/images/faq-bg-1.png"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="section-heading text-center">
              <h5>New Curriculum Vitae</h5>
              <h2 class="text-white">Welcome to Curriculum Vitae Section</h2>
              <p class="text-light">Please fill in correctly. You can Preview when done!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <app-footer></app-footer> -->

    <!--start footer-->
    <footer id="footer" class="bg-1">
      <div class="container">
        <div class="get-started">
          <div class="row">
            <div class="col-lg-6 col-md-8">
              <h2>Would you like to take a quick survey ?</h2>
              <!-- <p class="text-light">Your promotion to your next title / rank has been made easy!</p> -->
            </div>
            <div class="col-lg-6 col-md-4">
              <a [routerLink]="['/quick-survey']">Take a Quick Survey</a>
            </div>
          </div>
        </div>
        <div class="footer-cont">
          <div class="row">
            <!--start footer widget single-->
            <div class="col-lg-3 col-md-6">
              <div class="footer-widget">
                <h3>PROMOT BOT FUNAAB</h3>
                <ul>
                  <!-- <li><a href="#"><i class="icofont-long-arrow-right"></i>Features</a></li>
              <li><a href="#"><i class="icofont-long-arrow-right"></i>Download</a></li>
              <li><a href="#"><i class="icofont-long-arrow-right"></i>Pricing Plan</a></li>
              <li><a href="#"><i class="icofont-long-arrow-right"></i>Free Version</a></li>
              <li><a href="#"><i class="icofont-long-arrow-right"></i>What our users say</a></li>
              <li><a href="#"><i class="icofont-long-arrow-right"></i>Request a feature</a></li>
              <li><a href="#"><i class="icofont-long-arrow-right"></i>Update Guide</a></li> -->
                </ul>
              </div>
            </div>
            <!--end footer widget single-->
            <!--start footer widget single-->
            <div class="col-lg-3 col-md-6">
              <div class="footer-widget">
                <!-- <h3>PGS FUNAAB</h3> -->
                <ul>
                  <li><a href="#"><i class="icofont-long-arrow-right"></i>About us</a></li>
                  <li><a href="#"><i class="icofont-long-arrow-right"></i>Computer Science FUNAAB</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="row">
            <div class="col-lg-6 col-md-7">
              <p>© 2019 CSC FUNAAB | All right reserved.</p>
            </div>
            <div class="col-lg-6 col-md-5">
              <div class="footer-social text-right">
                <ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </div>
</div>