<mat-toolbar color="primary">
  <div>
    <h2>
      PGS - File Uploads
    </h2>
  </div>
</mat-toolbar>


<app-cv-documentation></app-cv-documentation>


<mat-card>
  <mat-card-header>
    <mat-card-title>{{username}} - File Uploads</mat-card-title>
    <mat-card-subtitle>
      <h4 style="color: rgb(255, 255, 255) ; margin-left: 0%">Total Attached Files : {{totalFileAttached}}
      </h4>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>



    <mat-horizontal-stepper>
      <mat-step label="File Uploadings">
        <mat-accordion>

          <mat-expansion-panel [expanded]="stepper === 0" (opened)="setStepper(1)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Educational Certificates File Uploads
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p-fileUpload auto="auto" name="myfile[]" #educationalCertificates multiple="multiple" auto="auto"
              (onUpload)="onBasicUpload($event)" (onError)=onBasicError($event)></p-fileUpload>

            <mat-action-row>
              <button mat-button color="primary" (click)="nextStepper()">Next</button>
            </mat-action-row>

          </mat-expansion-panel>



          <mat-expansion-panel [expanded]="stepper === 1" (opened)="setStepper(1)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Academic And Professional Qualifications File Uploads
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p-fileUpload auto="auto" name="myfile[]" #academicAndProfessionalQaulification multiple="multiple"
              auto="auto" (onUpload)="onBasicUpload($event)" (onError)=onBasicError($event)></p-fileUpload>

            <mat-action-row>
              <button mat-raised-button color="warn" (click)="prevStepper()" class="marging-right-10">Previous</button>
              <button mat-raised-button color="primary" (click)="nextStepper()">Next</button>
            </mat-action-row>

          </mat-expansion-panel>



          <mat-expansion-panel [expanded]="stepper === 2" (opened)="setStepper(2)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Prizes File Uploads
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p-fileUpload auto="auto" name="myfile[]" #prizes multiple="multiple" auto="auto"
              (onUpload)="onBasicUpload($event)" (onError)=onBasicError($event)></p-fileUpload>

            <mat-action-row>
              <button mat-raised-button color="warn" (click)="prevStepper()" class="marging-right-10">Previous</button>
              <button mat-raised-button color="primary" (click)="nextStepper()">Next</button>
            </mat-action-row>

          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="stepper === 3" (opened)="setStepper(3)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Honours File Uploads
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p-fileUpload auto="auto" name="myfile[]" #honours multiple="multiple" auto="auto"
              (onUpload)="onBasicUpload($event)" (onError)=onBasicError($event)></p-fileUpload>

            <mat-action-row>
              <button mat-raised-button color="warn" (click)="prevStepper()" class="marging-right-10">Previous</button>
              <button mat-raised-button color="primary" (click)="nextStepper()">Next</button>
            </mat-action-row>

          </mat-expansion-panel>



          <mat-expansion-panel [expanded]="stepper === 4" (opened)="setStepper(4)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                National Recognitions File Uploads
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p-fileUpload auto="auto" name="myfile[]" #nationalRecognition multiple="multiple" auto="auto"
              (onUpload)="onBasicUpload($event)" (onError)=onBasicError($event)></p-fileUpload>

            <mat-action-row>
              <button mat-raised-button color="warn" (click)="prevStepper()" class="marging-right-10">Previous</button>
              <button mat-raised-button color="primary" (click)="nextStepper()">Next</button>
            </mat-action-row>

          </mat-expansion-panel>


          <mat-expansion-panel [expanded]="stepper === 5" (opened)="setStepper(5)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                International Recognitions File Uploads
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p-fileUpload auto="auto" name="myfile[]" #internationalRecognitions multiple="multiple" auto="auto"
              (onUpload)="onBasicUpload($event)" (onError)=onBasicError($event)></p-fileUpload>

            <mat-action-row>
              <button mat-raised-button color="warn" (click)="prevStepper()" class="marging-right-10">Previous</button>
              <button mat-raised-button color="primary" (click)="nextStepper()">Next</button>
            </mat-action-row>

          </mat-expansion-panel>




          <mat-expansion-panel [expanded]="stepper === 6" (opened)="setStepper(6)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Commendations File Uploads
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p-fileUpload auto="auto" name="myfile[]" #commendation multiple="multiple" auto="auto"
              (onUpload)="onBasicUpload($event)" (onError)=onBasicError($event)></p-fileUpload>

            <mat-action-row>
              <button mat-raised-button color="warn" (click)="prevStepper()" class="marging-right-10">Previous</button>
              <button mat-raised-button color="primary" (click)="nextStepper()">Next</button>
            </mat-action-row>

          </mat-expansion-panel>


          <mat-expansion-panel [expanded]="stepper === 7" (opened)="setStepper(7)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Publications File Uploads
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p-fileUpload auto="auto" name="myfile[]" #publications multiple="multiple" auto="auto"
              (onUpload)="onBasicUpload($event)" (onError)=onBasicError($event)></p-fileUpload>

            <mat-action-row>
              <button mat-raised-button color="warn" (click)="prevStepper()" class="marging-right-10">Previous</button>
              <button mat-raised-button color="primary" (click)="nextStepper()">Next</button>
            </mat-action-row>

          </mat-expansion-panel>


          <mat-expansion-panel [expanded]="stepper === 8" (opened)="setStepper(8)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Special Assignments File Uploads
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p-fileUpload auto="auto" name="myfile[]" #specialAssignements multiple="multiple" auto="auto"
              (onUpload)="onBasicUpload($event)" (onError)=onBasicError($event)></p-fileUpload>


            <mat-action-row>
              <button mat-raised-button color="warn" (click)="prevStepper()" class="marging-right-10">Previous</button>
              <button mat-raised-button color="primary" (click)="nextStepper()">Next</button>
            </mat-action-row>

          </mat-expansion-panel>




          <mat-expansion-panel [expanded]="stepper === 9" (opened)="setStepper(9)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Extra Curricula Activities File Uploads
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p-fileUpload auto="auto" name="myfile[]" #extraCurriculaActivities multiple="multiple" auto="auto"
              (onUpload)="onBasicUpload($event)" (onError)=onBasicError($event)></p-fileUpload>

            <mat-action-row>
              <button mat-raised-button color="warn" (click)="prevStepper()" class="marging-right-10">Previous</button>
              <button mat-raised-button color="primary" (click)="nextStepper()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>



          <mat-expansion-panel [expanded]="stepper === 10" (opened)="setStepper(10)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Awards File Uploads
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p-fileUpload auto="auto" name="myfile[]" #awards multiple="multiple" auto="auto"
              (onUpload)="onBasicUpload($event)" (onError)=onBasicError($event)></p-fileUpload>


            <mat-action-row>
              <button mat-raised-button color="warn" (click)="prevStepper()" class="marging-right-10">Previous</button>
              <button mat-raised-button color="primary" (click)="nextStepper()">Next</button>
            </mat-action-row>

          </mat-expansion-panel>



        </mat-accordion>

        <mat-action-row>
          <button mat-raised-button color="primary" (click)="done()">Done</button>
        </mat-action-row>

      </mat-step>
    </mat-horizontal-stepper>






  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>

<p-toast position="top-right"></p-toast>
