td , th {
    white-space: normal;
    word-wrap: break-word;
    max-width: 300px;
}

.ptablestyle {
  white-space: normal;
  word-wrap: break-word;
  max-width: 100px;
}

.text-field {
  width: 400px;
}

.width-5 {
  width: 5%;
}

.width-10 {
  width: 10%;
}

.width-15 {
  width: 15%;
}

.width-20 {
  width: 20%;
}

.width-25 {
  width: 25%;
}

.width-30 {
  width: 30%;
}

.width-35 {
  width: 35%;
}

.width-40 {
  width: 40%;
}

.width-45 {
  width: 45%;
}

.width-50 {
  width: 50%;
}

.width-55 {
  width: 55%;
}

.width-60 {
  width: 60%;
}

.width-65 {
  width: 65%;
}

.width-70 {
  width: 70%;
}

.width-75 {
  width: 75%;
}

.width-80 {
  width: 80%;
}

.width-85 {
  width: 85%;
}

.width-90 {
  width: 90%;
}

.width-95 {
  width: 95%;
}

.width-100 {
  width: 100%;
}


.marging-left-5 {
  margin-left: 5px;
}

.marging-left-10 {
  margin-left: 10px;
}

.marging-left-15 {
  margin-left: 15px;
}

.marging-left-20 {
  margin-left: 20px;
}

.marging-left-25 {
  margin-left: 25px;
}

.marging-left-30 {
  margin-left: 30px;
}

.marging-left-35 {
  margin-left: 35px;
}

.marging-left-40 {
  margin-left: 40px;
}

.marging-left-45 {
  margin-left: 45px;
}

.marging-left-50 {
  margin-left: 50px;
}

.marging-left-55 {
  margin-left: 55px;
}

.marging-left-60 {
  margin-left: 60px;
}

.marging-left-65 {
  margin-left: 65px;
}

.marging-left-70 {
  margin-left: 70px;
}

.marging-left-75 {
  margin-left: 75px;
}

.marging-left-80 {
  margin-left: 80px;
}

.marging-left-85 {
  margin-left: 85px;
}

.marging-left-90 {
  margin-left: 90px;
}

.marging-left-95 {
  margin-left: 95px;
}

.marging-left-100 {
  margin-left: 100px;
}



.marging-right-5 {
  margin-right: 5px;
}

.marging-right-10 {
  margin-right: 10px;
}

.marging-right-15 {
  margin-right: 15px;
}

.marging-right-20 {
  margin-right: 20px;
}

.marging-right-25 {
  margin-right: 25px;
}

.marging-right-30 {
  margin-right: 30px;
}

.marging-right-35 {
  margin-right: 35px;
}

.marging-right-40 {
  margin-right: 40px;
}

.marging-right-45 {
  margin-right: 45px;
}

.marging-right-50 {
  margin-right: 50px;
}

.marging-right-55 {
  margin-right: 55px;
}

.marging-right-60 {
  margin-right: 60px;
}

.marging-right-65 {
  margin-right: 65px;
}

.marging-right-70 {
  margin-right: 70px;
}

.marging-right-75 {
  margin-right: 75px;
}

.marging-right-80 {
  margin-right: 80px;
}

.marging-right-85 {
  margin-right: 85px;
}

.marging-right-90 {
  margin-right: 90px;
}

.marging-right-95 {
  margin-right: 95px;
}

.marging-right-100 {
  margin-right: 100px;
}

.marging-5 {
  margin: 5px;
}

.marging-10 {
  margin: 10px;
}

.marging-top-left {
  margin: 0px
}

.style {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}

.f {
  clear: both;
}

.marging-top-20 {
  margin-top: 20%;
  border-top: 2px solid blueviolet;
}

.marging-top-50 {
  margin-top: 50%;
  border-top: 2px solid blueviolet;
}



.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
  margin-left: 0px;
}

.example-selected-value {
  margin: 15px 0;
}

.custom-textarea {
  height: auto;
  /**margin-top: 20px; */
  min-height: 20px;
  overflow: auto;
  padding: 5px;
  font-size: 20px;
  word-break: break-word;
}

input .input {
  font-size: 20px;
}

.float-right {
  float: right;
  margin: 0 100px;
}

.card-header-bg-color {
  /* background-color: rgb(165, 14, 132) ;
    color: white ;
    font: 100px;
    border-radius: 5px; */
  color: rgba(0, 0, 0, 0.842);
  font: 100px;
  border-left: 30px blueviolet;
}

.overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: block;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

.overlay_1 {
  position: fixed;
  /* Sit on top of the page content */
  display: block;
  /* Hidden by default */
  width: 80%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(44, 9, 58, 0.979);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}


table {
  width: 100%;
}

th {
  font-weight: bold;
  color: black;
  /* border: 1px  solid gray ; */
  text-align: center;
}

td {
  color: black;
  /* border: 1px  solid rgb(0, 0, 0) ;
  border-collapse: collapse ; */
  font-weight: normal;
  padding: 20px ;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 14px 14px 14px 14px;
}

.card-header {
  display: none ;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
}